<div class=" bg-[#35424a] w-[15%] fixed h-[100vh] p-10  ">

    <h1 class="uppercase text-[#fff] font-bold text-xl mb-10">ADMINistrator</h1>
    
    <ul class="text-white space-y-3">
        <li><a href="/admin "> Dashboard</a></li>

        <li id="projects" class="hover:text-blue-500 flex items-end hover:cursor-pointer">
            Projekti
            <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" /> </svg>
        </li>
        <ul id="addproject" class="hidden flex-col pl-4 space-y-3 ">
            <li > <a href="/admin/addproject">Dodaj projekat </a></li>
            <li > <a href="/listaProjekata">Pregled projekata</a> </li>
        </ul>
        
        <li><a href="/listTasks">Zadaci</a></li>
        <li><a href="#">Izvještaj</a></li>
        
        <li id="users" class="hover:text-blue-500 flex items-end hover:cursor-pointer">
            Zaposlenici
            <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
              </svg>
        </li>
    <ul id="adduser" class="hidden flex-col pl-4 space-y-3 ">
        <li > <a href="/admin/adduser"> Dodaj radnika </a></li>
        <li ><a href="/listaRadnika">Pregled radnika </a></li>
    </ul>
    </ul>

</div>

<script>
    const projects = document.getElementById("projects");
    const addproject = document.getElementById("addproject");

    projects.onclick = () => {
        if(addproject.style.display == "none"){
        addproject.style.display = "flex";
        } else {
        addproject.style.display = "none";
        }
    }


    const users = document.getElementById("users");
    const adduser = document.getElementById("adduser");

    users.onclick = () => {
        if(adduser.style.display == "none"){
        adduser.style.display = "flex";
        } else {
        adduser.style.display = "none";
        }
    }

</script>