<!DOCTYPE html>
<html>
  <head>
    <title>Evidencija projekata</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="w-full h-[100vh] flex flex-col items-center justify-center bg-gradient-to-r from-cyan-500 to-blue-500" ">
    <h1 class="absolute top-[100px] uppercase text-3xl font-semibold tracking-widest">Evidencija projekata</h1>
 
      <form action="/login" method="post" class="flex flex-col w-1/4 space-y-5 " >
        <label class="">KorisniÄko ime:</label>
        <input type="text" name="username" placeholder="Username" class="bg-[#ddd] p-3 rounded-xl" >
        <label class="">Lozinka:</label>       
        <input type="password" name="password" placeholder="********" class="bg-[#ddd] p-3 rounded-xl" >
        <button type="submit" class="uppercase bg-blue-600 text-white p-3 rounded-xl font-bold tracking-widest mt-32">Prijavite se</button>
      </form>
    </div>
  </body>
</html>
