<!DOCTYPE html>
<html>
<head>
    <title> Radnici</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<main class="flex">
        
    <div class="w-[15%]">
        <%- include("../partials/sidebarAdmin.ejs") %>
    </div>

    <div class="w-[85%]">
        <%- include("../partials/navbar.ejs") %>

    <h1>Radnici</h1>
</div>

</main>

</body>
</html>
